In [1]:
import nba_py
import nba_py.game as api_game
import nba_py.league as api_league
import nba_py.team as api_team
import nba_py.player as api_player
# from nba_py import constants
import pandas as pd
import time
import numpy as np
from IPython.display import display, HTML
import pyarrow

# Lets take a look at Players!

In [85]:
player_id = "203500"

### Trivial to get all player details:

In [62]:
# PersonID is the same as player_id
player_list = api_player.PlayerList()
player_list.info().head()

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG
0,203518,"Abrines, Alex",Alex Abrines,1,2016,2018,alex_abrines,1610612760,Oklahoma City,Thunder,OKC,thunder,Y
1,203112,"Acy, Quincy",Quincy Acy,1,2012,2018,quincy_acy,1610612751,Brooklyn,Nets,BKN,nets,Y
2,1629121,"Adams, Jaylen",Jaylen Adams,1,2018,2018,jaylen_adams,1610612737,Atlanta,Hawks,ATL,hawks,N
3,203500,"Adams, Steven",Steven Adams,1,2013,2018,steven_adams,1610612760,Oklahoma City,Thunder,OKC,thunder,Y
4,1628389,"Adebayo, Bam",Bam Adebayo,1,2017,2018,bam_adebayo,1610612748,Miami,Heat,MIA,heat,Y

In [86]:
thing = player_list.info()
thing[thing.PERSON_ID == int(player_id)]

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG
3,203500,"Adams, Steven",Steven Adams,1,2013,2018,steven_adams,1610612760,Oklahoma City,Thunder,OKC,thunder,Y

### Trivial to get a list of game ids (with stats included) for a player:

In [81]:
game_logs = api_player.PlayerGameLogs(player_id, season='2016-17', season_type='Regular Season')
game_logs.info().head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22016,201142,0021601229,"APR 12, 2017",GSW vs. LAL,W,27,11,16,0.688,...,8,8,5,1,1,3,1,29,28,1
1,22016,201142,0021601211,"APR 10, 2017",GSW vs. UTA,L,33,6,12,0.500,...,10,10,6,1,1,1,1,16,8,1
2,22016,201142,0021601195,"APR 08, 2017",GSW vs. NOP,W,31,6,15,0.400,...,9,10,6,0,0,1,3,16,22,1
3,22016,201142,0021600889,"FEB 28, 2017",GSW @ WAS,L,2,0,1,0.000,...,0,0,0,0,0,1,0,0,-3,1
4,22016,201142,0021600883,"FEB 27, 2017",GSW @ PHI,W,33,8,17,0.471,...,5,8,4,0,1,2,2,27,-3,1

### What else? Aggregated Career stats and rankings:

In [82]:
player_career = api_player.PlayerCareer(player_id)
player_career.regular_season_career_totals().head()

,PLAYER_ID,LEAGUE_ID,Team_ID,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,201142,00,0,771,771,37.1,9.2,18.8,0.49,1.9,...,0.882,0.8,6.4,7.1,3.9,1.2,1.1,3.1,1.9,27.1

### Not sure what player splits / why they're not returning things?

In [88]:
player_last_N_splits = api_player.PlayerLastNGamesSplits(player_id)
player_last_N_splits.last10()

Empty DataFrame
Columns: [GROUP_SET, GROUP_VALUE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS]
Index: []

[0 rows x 62 columns]

In [90]:
player_general_splits = api_player.PlayerGeneralSplits()

In [93]:
player_general_splits.json

{'parameters': {'DateFrom': None,
  'DateTo': None,
  'GameSegment': None,
  'LastNGames': 0,
  'LeagueID': '00',
  'Location': None,
  'MeasureType': 'Base',
  'Month': 0,
  'OpponentTeamID': 0,
  'Outcome': None,
  'PORound': 0,
  'PaceAdjust': 'N',
  'PerMode': 'PerGame',
  'Period': 0,
  'PlayerID': 203500,
  'PlusMinus': 'N',
  'Rank': 'N',
  'Season': '2018-19',
  'SeasonSegment': None,
  'SeasonType': 'Regular Season',
  'ShotClockRange': None,
  'VsConference': None,
  'VsDivision': None},
 'resource': 'playerdashboardbygeneralsplits',
 'resultSets': [{'headers': ['GROUP_SET',
    'GROUP_VALUE',
    'GP',
    'W',
    'L',
    'W_PCT',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'TOV',
    'STL',
    'BLK',
    'BLKA',
    'PF',
    'PFD',
    'PTS',
    'PLUS_MINUS',
    'NBA_FANTASY_PTS',
    'DD2',
    'TD3',
    'GP_RANK',
    'W_RANK',
    'L_RANK',
    'W_PCT_RANK',
    'MIN_RANK',
    'FGM_RANK',
    'FGA_RANK',
    'FG_PCT_RANK',
    'FG3M_RANK',
    'FG3A_RANK',
    'FG3_PCT_RANK',
    'FTM_RANK',
    'FTA_RANK',
    'FT_PCT_RANK',
    'OREB_RANK',
    'DREB_RANK',
    'REB_RANK',
    'AST_RANK',
    'TOV_RANK',
    'STL_RANK',
    'BLK_RANK',
    'BLKA_RANK',
    'PF_RANK',
    'PFD_RANK',
    'PTS_RANK',
    'PLUS_MINUS_RANK',
    'NBA_FANTASY_PTS_RANK',
    'DD2_RANK',
    'TD3_RANK',
    'CFID',
    'CFPARAMS'],
   'name': 'OverallPlayerDashboard',
   'rowSet': []},
  {'headers': ['GROUP_SET',
    'GROUP_VALUE',
    'GP',
    'W',
    'L',
    'W_PCT',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'TOV',
    'STL',
    'BLK',
    'BLKA',
    'PF',
    'PFD',
    'PTS',
    'PLUS_MINUS',
    'NBA_FANTASY_PTS',
    'DD2',
    'TD3',
    'GP_RANK',
    'W_RANK',
    'L_RANK',
    'W_PCT_RANK',
    'MIN_RANK',
    'FGM_RANK',
    'FGA_RANK',
    'FG_PCT_RANK',
    'FG3M_RANK',
    'FG3A_RANK',
    'FG3_PCT_RANK',
    'FTM_RANK',
    'FTA_RANK',
    'FT_PCT_RANK',
    'OREB_RANK',
    'DREB_RANK',
    'REB_RANK',
    'AST_RANK',
    'TOV_RANK',
    'STL_RANK',
    'BLK_RANK',
    'BLKA_RANK',
    'PF_RANK',
    'PFD_RANK',
    'PTS_RANK',
    'PLUS_MINUS_RANK',
    'NBA_FANTASY_PTS_RANK',
    'DD2_RANK',
    'TD3_RANK',
    'CFID',
    'CFPARAMS'],
   'name': 'LocationPlayerDashboard',
   'rowSet': []},
  {'headers': ['GROUP_SET',
    'GROUP_VALUE',
    'GP',
    'W',
    'L',
    'W_PCT',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'TOV',
    'STL',
    'BLK',
    'BLKA',
    'PF',
    'PFD',
    'PTS',
    'PLUS_MINUS',
    'NBA_FANTASY_PTS',
    'DD2',
    'TD3',
    'GP_RANK',
    'W_RANK',
    'L_RANK',
    'W_PCT_RANK',
    'MIN_RANK',
    'FGM_RANK',
    'FGA_RANK',
    'FG_PCT_RANK',
    'FG3M_RANK',
    'FG3A_RANK',
    'FG3_PCT_RANK',
    'FTM_RANK',
    'FTA_RANK',
    'FT_PCT_RANK',
    'OREB_RANK',
    'DREB_RANK',
    'REB_RANK',
    'AST_RANK',
    'TOV_RANK',
    'STL_RANK',
    'BLK_RANK',
    'BLKA_RANK',
    'PF_RANK',
    'PFD_RANK',
    'PTS_RANK',
    'PLUS_MINUS_RANK',
    'NBA_FANTASY_PTS_RANK',
    'DD2_RANK',
    'TD3_RANK',
    'CFID',
    'CFPARAMS'],
   'name': 'WinsLossesPlayerDashboard',
   'rowSet': []},
  {'headers': ['GROUP_SET',
    'GROUP_VALUE',
    'GP',
    'W',
    'L',
    'W_PCT',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'TOV',
    'STL',
    'BLK',
    'BLKA',
    'PF',
    'PFD',
    'PTS',
    'PLUS_MINUS',
    'NBA_FANTASY_PTS',
    'DD2',
    'TD3',
    'GP_RANK',
    'W_RANK',
    'L_RANK',
    'W_PCT_RANK',
    'MIN_RANK',
    'FGM_RANK',
    'FGA_RANK',
    'FG_PCT_RANK',
    'FG3M_RANK',
    'FG3A_RANK',
    'FG3_PCT_RANK',
    'FTM_RANK',
    'FTA_RANK',
    'FT_PCT_RANK',
    'OREB_RANK',
    'DREB_RANK',
    'REB_RANK',
    'AST_RANK',
    'TOV_RANK',
    'STL_RANK',
    'BLK_RANK',
    'BLKA_RANK',
    'PF_RANK',
    'PFD_RANK',
    'PTS_RANK',
    'PLUS_MINUS_RANK',
    'NBA_FANTASY_PTS_RANK',
    'DD2_RANK',
    'TD3_RANK',
    'CFID',
    'CFPARAMS'],
   'name': 'MonthPlayerDashboard',
   'rowSet': []},
  {'headers': ['GROUP_SET',
    'GROUP_VALUE',
    'GP',
    'W',
    'L',
    'W_PCT',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'TOV',
    'STL',
    'BLK',
    'BLKA',
    'PF',
    'PFD',
    'PTS',
    'PLUS_MINUS',
    'NBA_FANTASY_PTS',
    'DD2',
    'TD3',
    'GP_RANK',
    'W_RANK',
    'L_RANK',
    'W_PCT_RANK',
    'MIN_RANK',
    'FGM_RANK',
    'FGA_RANK',
    'FG_PCT_RANK',
    'FG3M_RANK',
    'FG3A_RANK',
    'FG3_PCT_RANK',
    'FTM_RANK',
    'FTA_RANK',
    'FT_PCT_RANK',
    'OREB_RANK',
    'DREB_RANK',
    'REB_RANK',
    'AST_RANK',
    'TOV_RANK',
    'STL_RANK',
    'BLK_RANK',
    'BLKA_RANK',
    'PF_RANK',
    'PFD_RANK',
    'PTS_RANK',
    'PLUS_MINUS_RANK',
    'NBA_FANTASY_PTS_RANK',
    'DD2_RANK',
    'TD3_RANK',
    'CFID',
    'CFPARAMS'],
   'name': 'PrePostAllStarPlayerDashboard',
   'rowSet': []},
  {'headers': ['GROUP_SET',
    'GROUP_VALUE',
    'GP',
    'W',
    'L',
    'W_PCT',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'TOV',
    'STL',
    'BLK',
    'BLKA',
    'PF',
    'PFD',
    'PTS',
    'PLUS_MINUS',
    'NBA_FANTASY_PTS',
    'DD2',
    'TD3',
    'GP_RANK',
    'W_RANK',
    'L_RANK',
    'W_PCT_RANK',
    'MIN_RANK',
    'FGM_RANK',
    'FGA_RANK',
    'FG_PCT_RANK',
    'FG3M_RANK',
    'FG3A_RANK',
    'FG3_PCT_RANK',
    'FTM_RANK',
    'FTA_RANK',
    'FT_PCT_RANK',
    'OREB_RANK',
    'DREB_RANK',
    'REB_RANK',
    'AST_RANK',
    'TOV_RANK',
    'STL_RANK',
    'BLK_RANK',
    'BLKA_RANK',
    'PF_RANK',
    'PFD_RANK',
    'PTS_RANK',
    'PLUS_MINUS_RANK',
    'NBA_FANTASY_PTS_RANK',
    'DD2_RANK',
    'TD3_RANK',
    'CFID',
    'CFPARAMS'],
   'name': 'StartingPosition',
   'rowSet': []},
  {'headers': ['GROUP_SET',
    'GROUP_VALUE',
    'GP',
    'W',
    'L',
    'W_PCT',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'TOV',
    'STL',
    'BLK',
    'BLKA',
    'PF',
    'PFD',
    'PTS',
    'PLUS_MINUS',
    'NBA_FANTASY_PTS',
    'DD2',
    'TD3',
    'GP_RANK',
    'W_RANK',
    'L_RANK',
    'W_PCT_RANK',
    'MIN_RANK',
    'FGM_RANK',
    'FGA_RANK',
    'FG_PCT_RANK',
    'FG3M_RANK',
    'FG3A_RANK',
    'FG3_PCT_RANK',
    'FTM_RANK',
    'FTA_RANK',
    'FT_PCT_RANK',
    'OREB_RANK',
    'DREB_RANK',
    'REB_RANK',
    'AST_RANK',
    'TOV_RANK',
    'STL_RANK',
    'BLK_RANK',
    'BLKA_RANK',
    'PF_RANK',
    'PFD_RANK',
    'PTS_RANK',
    'PLUS_MINUS_RANK',
    'NBA_FANTASY_PTS_RANK',
    'DD2_RANK',
    'TD3_RANK',
    'CFID',
    'CFPARAMS'],
   'name': 'DaysRestPlayerDashboard',
   'rowSet': []}]}

In [73]:
player_profile = api_player.PlayerProfile(player_id)

In [76]:
player_clutch = api_player.PlayerClutchSplits(player_id)

In [78]:
player_clutch.last10sec_deficit_3point().head()

Empty DataFrame
Columns: [GROUP_SET, GROUP_VALUE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS]
Index: []

[0 rows x 62 columns]

## Most of the Game API endpoints break down the stats on the player level:

In [39]:
game_id = "0021600457"

In [30]:
player_tracking = api_game.PlayerTracking("0021600457")
player_tracking.info().head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,SPD,...,CFGM,CFGA,CFG_PCT,UFGM,UFGA,UFG_PCT,FG_PCT,DFGM,DFGA,DFG_PCT
0,0021600457,1610612744,GSW,Golden State,201142,Kevin Durant,F,,38:10,3.89,...,7,12,0.583,4,11,0.364,0.478,8,9,0.889
1,0021600457,1610612744,GSW,Golden State,203110,Draymond Green,F,,31:46,3.88,...,6,6,1.000,1,3,0.333,0.778,0,3,0.000
2,0021600457,1610612744,GSW,Golden State,2585,Zaza Pachulia,C,,12:51,4.30,...,1,2,0.500,1,1,1.000,0.667,0,4,0.000
3,0021600457,1610612744,GSW,Golden State,202691,Klay Thompson,G,,40:37,4.44,...,2,2,1.000,7,14,0.500,0.563,6,9,0.667
4,0021600457,1610612744,GSW,Golden State,201939,Stephen Curry,G,,37:20,4.57,...,2,3,0.667,2,8,0.250,0.364,2,3,0.667

In [31]:
boxscore_summary = api_game.BoxscoreSummary("0021600457")
boxscore_summary.inactive_players()

,PLAYER_ID,FIRST_NAME,LAST_NAME,JERSEY_NUM,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION
0,2590,Mo,Williams,52,1610612739,Cleveland,Cavaliers,CLE
1,2365,Chris,Andersen,00,1610612739,Cleveland,Cavaliers,CLE
2,203949,James Michael,McAdoo,20,1610612744,Golden State,Warriors,GSW
3,1627745,Damian,Jones,15,1610612744,Golden State,Warriors,GSW

In [32]:
boxscore = api_game.Boxscore(game_id)
boxscore.player_stats().iloc[:,:].head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0021600457,1610612744,GSW,Golden State,201142,Kevin Durant,F,,38:10,11.0,...,0.0,15.0,15.0,3.0,1.0,1.0,0.0,2.0,36.0,0.0
1,0021600457,1610612744,GSW,Golden State,203110,Draymond Green,F,,31:46,7.0,...,0.0,4.0,4.0,4.0,1.0,0.0,6.0,5.0,16.0,-1.0
2,0021600457,1610612744,GSW,Golden State,2585,Zaza Pachulia,C,,12:51,2.0,...,1.0,4.0,5.0,1.0,0.0,0.0,3.0,4.0,4.0,2.0
3,0021600457,1610612744,GSW,Golden State,202691,Klay Thompson,G,,40:37,9.0,...,0.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,24.0,1.0
4,0021600457,1610612744,GSW,Golden State,201939,Stephen Curry,G,,37:20,4.0,...,0.0,3.0,3.0,3.0,3.0,0.0,3.0,4.0,15.0,-1.0

In [42]:
boxscore_adv = api_game.BoxscoreAdvanced(game_id)
boxscore_adv.sql_players_advanced().head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,OFF_RATING,...,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,PACE,PIE
0,0021600457,1610612744,GSW,Golden State,201142,Kevin Durant,F,,38:10,100.5,...,9.6,0.000,0.341,0.217,0.0,0.522,0.636,0.327,105.49,0.328
1,0021600457,1610612744,GSW,Golden State,203110,Draymond Green,F,,31:46,103.4,...,20.1,0.000,0.105,0.070,30.2,0.778,0.810,0.219,104.40,0.099
2,0021600457,1610612744,GSW,Golden State,2585,Zaza Pachulia,C,,12:51,97.8,...,14.3,0.143,0.308,0.250,42.9,0.667,0.667,0.196,109.22,0.037
3,0021600457,1610612744,GSW,Golden State,202691,Klay Thompson,G,,40:37,99.7,...,5.0,0.000,0.044,0.027,10.1,0.719,0.711,0.198,104.54,0.115
4,0021600457,1610612744,GSW,Golden State,201939,Stephen Curry,G,,37:20,99.2,...,15.3,0.000,0.071,0.047,15.3,0.455,0.550,0.194,104.80,0.071

In [45]:
boxscore_4f = api_game.BoxscoreFourFactors(game_id)
boxscore_4f.sql_players_four_factors().head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,EFG_PCT,FTA_RATE,TM_TOV_PCT,OREB_PCT,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
0,0021600457,1610612744,GSW,Golden State,201142,Kevin Durant,F,,38:10,0.516,0.387,0.168,0.120,0.426,0.405,0.107,0.273
1,0021600457,1610612744,GSW,Golden State,203110,Draymond Green,F,,31:46,0.600,0.300,0.230,0.158,0.452,0.381,0.117,0.342
2,0021600457,1610612744,GSW,Golden State,2585,Zaza Pachulia,C,,12:51,0.548,0.286,0.236,0.143,0.435,0.478,0.208,0.385
3,0021600457,1610612744,GSW,Golden State,202691,Klay Thompson,G,,40:37,0.522,0.304,0.188,0.179,0.468,0.278,0.104,0.244
4,0021600457,1610612744,GSW,Golden State,201939,Stephen Curry,G,,37:20,0.543,0.379,0.218,0.136,0.438,0.389,0.112,0.310

In [51]:
boxscore_misc = api_game.BoxscoreMisc(game_id)
boxscore_misc.sql_players_misc().head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,PTS_OFF_TOV,...,PTS_FB,PTS_PAINT,OPP_PTS_OFF_TOV,OPP_PTS_2ND_CHANCE,OPP_PTS_FB,OPP_PTS_PAINT,BLK,BLKA,PF,PFD
0,0021600457,1610612744,GSW,Golden State,201142,Kevin Durant,F,,38:10,6.0,...,9.0,14.0,15.0,11.0,3.0,30.0,1.0,0.0,2.0,7.0
1,0021600457,1610612744,GSW,Golden State,203110,Draymond Green,F,,31:46,0.0,...,2.0,14.0,14.0,11.0,1.0,28.0,0.0,0.0,5.0,2.0
2,0021600457,1610612744,GSW,Golden State,2585,Zaza Pachulia,C,,12:51,0.0,...,0.0,4.0,6.0,6.0,1.0,8.0,0.0,1.0,4.0,0.0
3,0021600457,1610612744,GSW,Golden State,202691,Klay Thompson,G,,40:37,2.0,...,0.0,6.0,18.0,12.0,3.0,38.0,1.0,0.0,1.0,1.0
4,0021600457,1610612744,GSW,Golden State,201939,Stephen Curry,G,,37:20,2.0,...,5.0,4.0,16.0,11.0,3.0,32.0,0.0,0.0,4.0,4.0

In [56]:
# boxscore_score = api_game.BoxscoreScoring(game_id)
boxscore_score.sql_players_scoring().head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,PCT_FGA_2PT,...,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM
0,0021600457,1610612744,GSW,Golden State,201142,Kevin Durant,F,,38:10,0.652,...,0.250,0.333,0.167,0.389,0.222,0.778,0.5,0.5,0.273,0.727
1,0021600457,1610612744,GSW,Golden State,203110,Draymond Green,F,,31:46,0.778,...,0.125,0.125,0.000,0.875,0.714,0.286,0.0,0.0,0.714,0.286
2,0021600457,1610612744,GSW,Golden State,2585,Zaza Pachulia,C,,12:51,1.000,...,0.000,0.000,0.000,1.000,0.500,0.500,0.0,0.0,0.500,0.500
3,0021600457,1610612744,GSW,Golden State,202691,Klay Thompson,G,,40:37,0.313,...,0.000,0.042,0.083,0.250,1.000,0.000,1.0,0.0,1.000,0.000
4,0021600457,1610612744,GSW,Golden State,201939,Stephen Curry,G,,37:20,0.364,...,0.333,0.333,0.133,0.267,1.000,0.000,1.0,0.0,1.000,0.000